<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mgs.dao.FileReadLogDAO">
	<resultMap id="BaseResultMap" type="com.mgs.entity.FileReadLog">
		<id column="id" jdbcType="VARCHAR" property="id" />
		<result column="fid" jdbcType="VARCHAR" property="fid" />
		<result column="mid" jdbcType="VARCHAR" property="mid" />
		<result column="ratio" jdbcType="INTEGER" property="ratio" />
		<result column="state" jdbcType="INTEGER" property="state" />
		<result column="starttime" jdbcType="TIMESTAMP" property="starttime" />
		<result column="closetime" jdbcType="TIMESTAMP" property="closetime" />
	</resultMap>

	<select id="getLogDetailByPrimarykey" resultType="com.mgs.entity.FileReadLog">
		SELECT * FROM FileReadLogs WHERE id = #{id}
	</select>

	<select id="queryReadlogByfileId" resultType="com.mgs.entity.FileReadLog">
		SELECT * FROM FileReadLogs WHERE state = #{state} and fid = #{fid}
	</select>

	<select id="queryReadlogByMemberid" resultType="com.mgs.entity.FileReadLog">
		SELECT * FROM FileReadLogs WHERE state = #{state} and mid = #{mid}
	</select>

	<insert id="sendSaveFileToMember" parameterType="com.mgs.entity.FileReadLog">
		<selectKey resultType="java.lang.String" order="BEFORE" keyProperty="id">
			select UUID()
		</selectKey>
		INSERT INTO FileReadLogs (id, fid, mid, ratio, state, starttime, closetime)
		VALUES (#{id}, #{fid}, #{mid}, 0, 1, now(), now())
	</insert>

	<update id="readOrOpenSaveFile">
		UPDATE FileReadLogs SET state = 2, starttime = now() WHERE id = #{id}
	</update>

	<update id="closeAndSaveFile">
		UPDATE FileReadLogs SET state = 3, closetime = now() WHERE id = #{id}
	</update>

	<update id="updateFilereadRatio">
		UPDATE FileReadLogs SET ratio = #{ratio} WHERE id = #{id}
	</update>

</mapper>