<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mgs.dao.PlogDAO">
	<resultMap id="logMap" type="com.mgs.entity.Plog">
		<id column="id" jdbcType="VARCHAR" property="id" />
		<result column="mid" jdbcType="VARCHAR" property="mid" />
		<result column="longitude" jdbcType="VARCHAR" property="longitude" />
		<result column="latitude" jdbcType="VARCHAR" property="latitude" />
		<result column="recordtm" jdbcType="TIMESTAMP" property="recordtime" />
	</resultMap>
	
	<select id="getlogByPrimaryKey" resultType="com.mgs.entity.Plog">
		SELECT * FROM Plogs WHERE id = #{id}
	</select>
	
	<select id="queryLogsByMember" resultType="com.mgs.entity.Plog">
		SELECT * FROM Plogs WHERE mid = #{mid}
	</select>
	
	<select id="queryLogsBetweenTimes" resultType="com.mgs.entity.Plog">
		SELECT * FROM Plogs WHERE unix_timestamp(recordtm) between unix_timestamp('#{btime}') and unix_timestamp('#{etime}')
	</select>
	
	<select id="getLastLogOfMember" resultType="com.mgs.entity.Plog">
		SELECT * FROM Plogs WHERE unix_timestamp(recordtm) > unix_timestamp(date_sub(now(), interval 8 hour)) and mid = #{mid} limit 1
	</select>
	
	<insert id="addLogForMember" parameterType="com.mgs.entity.Plog">
		<selectKey resultType="java.lang.String" order="AFTER" keyProperty="id">
			SELECT LAST_INSERT_ID() AS id
		</selectKey>
		INSERT INTO Plogs (id, mid, longitude, latitude, recordtm) VALUES (UUID(), #{mid}, #{longitude}, #{latitude}, now())
	</insert>	
</mapper>