<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mgs.dao.PlogDAO">
	<resultMap id="logMap" type="com.mgs.entity.Plog">
		<id column="id" jdbcType="VARCHAR" property="id" />
		<result column="mid" jdbcType="VARCHAR" property="mid" />
		<result column="longitude" jdbcType="VARCHAR" property="longitude" />
		<result column="latitude" jdbcType="VARCHAR" property="latitude" />
		<result column="recordtm" jdbcType="TIMESTAMP" property="recordtm" />
	</resultMap>
	
	<select id="getlogByPrimaryKey" resultType="com.mgs.entity.Plog">
		SELECT * FROM Plogs WHERE id = #{id}
	</select>
	
	<select id="queryLogsByMember" resultType="com.mgs.entity.Plog">
		SELECT * FROM Plogs WHERE mid = #{mid} ORDER by recordtm DESC
	</select>
	
	<select id="queryLogsBetweenTimes" resultType="com.mgs.entity.Plog">
		SELECT * FROM Plogs WHERE UNIX_TIMESTAMP(recordtm) 
		BETWEEN UNIX_TIMESTAMP('#{btime}') AND UNIX_TIMESTAMP('#{etime}') ORDER by recordtm DESC
	</select>
	
	<select id="getLastLogOfMember" resultType="com.mgs.entity.Plog">
		SELECT * FROM Plogs WHERE mid = #{mid} LIMIT 1 ORDER by recordtm DESC
	</select>
	
	<select id="getLastLogOfMember8hours" resultType="com.mgs.entity.Plog">
		SELECT * FROM Plogs WHERE UNIX_TIMESTAMP(recordtm) > UNIX_TIMESTAMP(DATE_SUB(now(), interval 8 hour)) 
		AND mid = #{mid} LIMIT 1 ORDER by recordtm DESC
	</select>
	
	<insert id="addLogForMember" parameterType="com.mgs.entity.Plog">
		<selectKey resultType="java.lang.String" order="BEFORE" keyProperty="id">
			select UUID()
		</selectKey>
		INSERT INTO Plogs (id, mid, longitude, latitude, recordtm)
		 VALUES (#{id}, #{mid}, #{longitude}, #{latitude}, now())
	</insert>	
</mapper>