<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mgs.dao.PointRecordDAO">
	<resultMap id="BaseResultMap" type="com.mgs.entity.PointRecord">
		<id column="id" jdbcType="VARCHAR" property="id" />
		<result column="mid" jdbcType="VARCHAR" property="mid" />
		<result column="point" jdbcType="INTEGER" property="point" />
		<result column="type" jdbcType="INTEGER" property="type" />
		<result column="comment" jdbcType="VARCHAR" property="comment" />
		<result column="creater" jdbcType="VARCHAR" property="creater" />
		<result column="ctime" jdbcType="TIMESTAMP" property="ctime" />
	</resultMap>

	<select id="getPointRecordDetail" resultType="com.mgs.entity.PointRecord">
		SELECT * FROM PointRecord WHERE id = #{id}
	</select>

	<select id="queryRecordsByMember" resultType="com.mgs.entity.PointRecord">
		SELECT * FROM PointRecord WHERE mid = #{mid}
	</select>
	
	<select id="queryRecordsByTypeMember" resultType="com.mgs.entity.PointRecord">
		SELECT * FROM PointRecord WHERE mid = #{mid} and type = #{type}
	</select>
	
	<insert id="generateNewPointRecord" parameterType="com.mgs.entity.PointRecord">
		<selectKey resultType="java.lang.String" order="BEFORE" keyProperty="id">
			select UUID()
		</selectKey>
		INSERT INTO PointRecord (id, mid, point, type, comment, creater, ctime)
		  VALUES (#{id}, #{mid}, #{point}, #{type}, #{comment}, #{creater}, now())
	</insert>
		
</mapper>